version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: plex-wrapped-dev
    working_dir: /app
    volumes:
      # - .:/app
      # - /app/node_modules
      # - /app/.next
      - db-data:/data
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - DATABASE_URL=file:/data/dev.db
      - NEXT_PUBLIC_APP_URL=http://localhost:3000
      - NEXTAUTH_URL=http://localhost:3000
    stdin_open: true
    tty: true

volumes:
  db-data:
